nav {
    background-color: black;
    padding: 20px;
    
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;

}

a {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    font-family: "Bebas Neue", sans-serif;
}

a:hover {
    color: greenyellow;
}

#image-1
{
    width: 100%;
}

